@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*

/* NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
NavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbarNavbar
 */

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

nav{
    display: flex;
    width: 100%;
    background-color: #2b1055;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}

.logon img{
    width: 80px;
    float: left;
    position: absolute;
    top: 2px;
    margin-left: 10px;
    
}

nav .Iconze{
    font-family: 'Poppins',sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
}

nav ol{
    display: flex;
    list-style: none;
    margin: auto 0;
}

nav ol li{
    margin: 0 2px;
}

nav ol li a{
    font-family: 'Poppins',sans-serif;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}

nav ol li:hover a{
    background: #fff;
    color: #4070f4;
}

nav .Search10{
    display: flex;
    position: relative;
    right: 140px;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}

nav .Search10 input{
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
}

nav .Search10 span{
    color: #4070f4;
    font-size: 20px;
    background: #fff;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

nav .Search10 span:hover{
    color: #fff;
}

nav .Search10 span::after{
    height: 100%;
    width: 0%;
    content: '';
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
}

nav .Search10 span:hover::after{
    width: 100%;
}

nav .bar{
    position: relative;
    margin: auto;
    display: none;
}

nav .bar spar{
    position: absolute;
    color: #fff;
    font-size: 35px;
}

input[type="checkbox"]{
    display: none;
} 

@media screen and (max-width: 1250px){
    nav{
        display: block;
        padding: 0;
    }
    nav .Iconze{
        display: inline-block;
        padding: 15px 30px;
    }
    nav .Search10{
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    nav .Search10 input{
        width: 90%;
    }
    nav ol{
        display: flex;
        flex-direction: column;
        background: #fff;
        height: 0;
        visibility: hidden;
        transition: 0.3s;
    }
    nav ol li{
        text-align: center;
        transition: 0.3s 0.1s all;
        opacity: 0;
    }
    nav ol li a{
        color: #000;
        font-size: 28px;
        padding: 25px;
        display: block;
    }
    nav ol li:nth-child(1){
        transform: translateX(-150px);
    }
    nav ol li:nth-child(2){
        transform: translateX(-200px);
    }
    nav ol li:nth-child(3){
        transform: translateX(-250px);
    }
    nav ol li:nth-child(4){
        transform: translateX(-300px);
    }
    nav ol li:nth-child(5){
        transform: translateX(-350px);
    }
    nav .bar{
        display: block;
        position: absolute;
        top: 20px;
        right: 80px;
        cursor: pointer;
    }
    nav .bar #times{
        display: none;
    }
    #check:checked ~ nav .bar #times{
        display: block; 
    }
    #check:checked ~ nav .bar #bars{
        display: none;
    }
    #check:checked ~ nav ol{
        visibility: visible;
        height: 465px;
    }
    #check:checked ~ nav ol li:nth-child(1),
    #check:checked ~ nav ol li:nth-child(2),
    #check:checked ~ nav ol li:nth-child(3),
    #check:checked ~ nav ol li:nth-child(4),
    #check:checked ~ nav ol li:nth-child(5){
        transform: translateX(0);
        opacity: 1;
    } 
}

/* Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box
Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box
Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box
Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box
Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box
Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box
Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box
Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box
Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box
Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box
Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box
Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box
Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box
Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box
Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box
Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box
Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box
Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box
Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box
Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box
Chat Box Chat Box Chat Box Chat Box Chat Box Chat Box */

#click {
    display: none;
}
label {
    position: absolute;
    right: 30px;
    bottom: 20px;
    height: 55px;
    width: 55px;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
    text-align: center;
    line-height: 55px;
    border-radius: 50px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
label i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
}
label i.fas {
    opacity: 0;
    pointer-events: none;
}
#click:checked ~ label i.fas {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) rotate(180deg);
}
#click:checked ~ label i.fab {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) rotate(180deg);
}
.wrapper {
    position: absolute;
    right: 30px;
    bottom: 0px;
    max-width: 400px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
#click:checked ~ .wrapper {
    opacity: 1;
    bottom: 85px;
    pointer-events: auto;
}
.wrapper .head-text {
    line-height: 60px;
    color: #fff;
    border-radius: 15px 15px 0 0;
    padding: 0 20px;
    font-weight: 500;
    font-size: 20px;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}
.wrapper .chat-box {
    padding: 20px;
    width: 100%;
}
.chat-box .desc-text {
    color: #515365;
    text-align: center;
    line-height: 25px;
    font-size: 17px;
    font-weight: 500;
}
.chat-box form {
    padding: 10px 15px;
    margin: 20px 0;
    border-radius: 25px;
    border: 1px solid lightgrey;
}
.chat-box form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.chat-box form .field:last-child {
    margin-bottom: 15px;
}
form .field input,
form .field button,
form .textarea textarea {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    border: 1px solid lightgrey;
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .field input:focus,
form .textarea textarea:focus {
    border-color: #fc83bb;
}

form .field input::placeholder,
form .textarea textarea::placeholder {
    color: silver;
    transition: all 0.3s ease;
}

form .field input:focus::placeholder,
form .textarea textarea:focus::placeholder {
    color: lightgrey;
}

.chat-box form .textarea {
    height: 70px;
    width: 100%;
}

.chat-box form .textarea textarea {
    height: 100%;
    border-radius: 50px;
    resize: none;
    padding: 15px 20px;
    font-size: 16px;
}

.chat-box form .field button {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
    transition: all 0.3s ease;
}

.chat-box form .field button:active {
    transform: scale(0.97);
}

/* Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 
Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 */

.Niezi{
    width: 100%;
    min-height: 635px;
    background-color: black;
    background: url(/Gambar/2492629.jpg);
    background-size: cover;
    background-position: center;
    top: 0;
    z-index: -1;
}

#Company{
    position: relative;
    font-size: 50px;
    top: 10px;
    padding: 10px;
    color: #fff;
    font-family: 'Poppins',sans-serif;
}

#Text{
    font-size: 35px;
    top: 10px;
    position: relative;
    font-family: 'Poppins',sans-serif;
    padding: 10px;
    color: #fff;
}

#Texter{
    font-size: 25px;
    top: 10px;
    position: relative;
    font-family: 'Poppins',sans-serif;
    padding: 10px;
    color: #fff;
}

#Bexter{
    font-size: 15px;
    top: 10px;
    position: relative;
    padding: 10px;
    font-family: 'Poppins',sans-serif;
    color: #fff;
}

#Bttn{
    position: absolute;
    left: 1%;
    top: 65%;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    display: inline-block;
    padding: 8px 30px ;
    border-radius: 40px;
    position: absolute;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(50%, 50%);
}

.Logo img{
    float: left;
    filter: invert(1);
}

/* Page2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 */

.container77{
    background-color: #1c0522;
}

#text1{
    color: #fff;
    font-family: 'Poppins',sans-serif;
    font-size: 32px;
    padding: 20px 0;
    text-align: center;
}

.row-items{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	grid-gap: 2rem;
	align-items: center;
	text-align: center;
	margin-top: 0rem;
}

.container-box{
	background: #2b1055;
	border: 1px solid #fff;
	padding: 50px 10px;
	border-radius: 4px;
	transition: all 1s ease 0s;
	cursor: pointer;
}
.container-img img{
	height: 85px;
	width: 85px;
	padding: 15px;
	background: var(--bg-color);
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	border-radius: 4px;
	margin-bottom: 15px;
	cursor: pointer;
}
.container-box h4{
    font-family: 'Poppins',sans-serif;
    color: #fff;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 8px;
}
.container-box p{
    font-family: 'Poppins',sans-serif;
	font-size: 15px;
	color: #fff;
}
.container-box:hover{
	box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
	border: 1px solid transparent;
	transform: translateY(-3px);
}

/* Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2
Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 */

.Container1{
    width: 100%;
    min-height: 100vh;
    background-color: #1c0522;
}

.Container1 h2{
    color: #fff;
    font-size: 32px;
    padding: 50px 0;
    text-align: center;
    font-family: 'Poppins',sans-serif;
}

.Price-Row{
    width: 90%;
    max-width: 1100px;
    font-family: "Poppins", sans-serif;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}

.Price-Col{
    background: #2b1055;
    padding: 10% 15%;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.Price-Col p{
    font-size: 25px;
}

.Price-Col ul{
    text-align: left;
    margin: 20px 0;
    color: #ddd;
    list-style: none;
}

.Price-Col ul li{
    margin: 15px 0;
}

.Price-Col ul li::before{
    content: '\2022';
    color: #e33058;
    font-weight: bold;
    margin-right: 8px;
}

.Price-Col button{
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color: #fff;
    font-size: 15px;
    border: 1px solid #e33058;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.Price-Col button:hover{
    background: #e33058;
}

.Price-Vol p{
    font-size: 25px;
}

.Price-Vol p{
    font-size: 25px;
}

.Price-Vol ul{
    text-align: left;
    margin: 20px 0;
    color: #ddd;
    list-style: none;
}

.Price-Vol ul li{
    margin: 15px 0;
}

.Price-Vol ul li::before{
    content: '\2022';
    color: #e33058;
    font-weight: bold;
    margin-right: 8px;
}

.Price-Vol button{
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color: #fff;
    font-size: 15px;
    border: 1px solid #e33058;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.Price-Vol button:hover{
    background: #e33058;
}

.Price-Bol p{
    font-size: 25px;
}

.Price-Bol p{
    font-size: 25px;
}

.Price-Bol ul{
    text-align: left;
    margin: 20px 0;
    color: #ddd;
    list-style: none;
}

.Price-Bol ul li{
    margin: 15px 0;
}

.Price-Bol ul li::before{
    content: '\2022';
    color: #e33058;
    font-weight: bold;
    margin-right: 8px;
}

.Price-Bol button{
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color: #fff;
    font-size: 15px;
    border: 1px solid #e33058;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.Price-Bol button:hover{
    background: #e33058;
}

.Price-Vol{
    background: #2b1055;
    padding: 10% 15%;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.Price-Bol{
    background: #2b1055;
    padding: 10% 15%;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

/* Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3
*/

.Container2 {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1c0522;
}

.Container2 h2{
    color: #fff;
    font-size: 32px;
    padding: px 0;
    text-align: center;
} 

.testimonial {
    position: relative;
    max-width: 900px;
    bottom: 25px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}
.testimonial .image1 {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}
.testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
    width: 100%;
}
.slide p {
    text-align: center;
    padding: 0 160px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
.slide .quote-icon {
    font-size: 30px;
    color: #fff;
}
.slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details .name {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.details .job {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.nav-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translateY(30px);
    transition: 0.2s;
}

.nav-btn::after,
.nav-btn::before {
    font-size: 20px;
    color: #fff;
}
.swiper-pagination-bullet {
    background-color: #fff;
}
.swiper-pagination-bullet-active {
    background-color: #fff;
}
@media screen and (max-width: 768px) {
    .slide p {
    padding: 0 20px;
}
.nav-btn {
    display: none;
    }
}  

/* Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5
Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5
Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5
Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5
Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5
Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5
Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5
Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5
Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5
Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5
Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5
Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5
Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5
Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5
Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5
Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5
Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 Page 5 */

footer{
    background-color: #2b1055;
    padding: 2.5rem 3rem;
}

.Logo16 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 2.8rem;
    text-align: center;
}

.Socmed{
    text-align: center;
}

.Socmed > a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    width: 2.3rem;
}

.Socmed > a:hover{
    color: #e33058;
}

.Footer-Container{
    display: flex;
    flex-wrap: wrap;
}

.Footer-Wrapper{
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
}

.Footer-Wrapper > h4{
    color: #fff;
    line-height: 4;
}

.Footer-Wrapper > a{
    text-decoration: none;
    color: #fff;
    line-height: 2;
    padding: 5px;
}

.Footer-Wrapper > a:hover{
    color: #e33058;
}

.Footer-Wrapper > p{
    color: #fff;
    margin-bottom: 20px;
}

.Footer-Newsletter{
    display: flex;
    min-width: 300px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.Footer-Newsletter > button{
    color: #fff;
    width: 20%;
    background-color: transparent;
    border: 2px solid #e33058;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.Footer-Newsletter > button:hover{
    background-color: #e33058;
}

.Divider{
    border: 1px solid #fff;
    margin: 0.5rem 0rem;
}

.Webright{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Webright-Left{
    color: #fff;
    font-size: 0.8rem;
}

.Webright-Right > a{
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    padding-right: 5px;
} 